{{% extends 'layout.html' %}}
{{% block content %}
    {{% if messages %}
    <div class="alert alert-success" role="alert">Страница успешно добавлена</div>
    {% endif %}}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайт: {{url.name}}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <id>{{url.id}}</id>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <id>{{url.name}}</id>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <id>{{url.created_at}}</id>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 class="mt-5 mb-3">Проверки</h2>
    </div>
</main>
{% endblock %}}
